.peak-founders-query-loop {
  & .card-full-content-links.is-layout-flex {
    display: none;
  }
  & .founder-block .founder-coin {
    margin-left: var(--card-text-spacing)!important;
    margin-right: var(--card-text-spacing)!important;
  }
}

.peak-founders-query-loop-home {
  & > ul > li {
    margin: 0;
    flex: 0 0 75%;
    scroll-snap-align: start;
    padding-left: var(--wp--preset--spacing--outer);
    position: relative;
  }
  & > ul > li .founder-block > * {
      display: none;
      
      &.founder-photograph {
        display: block;
        margin: 0 var(--wp--preset--spacing--outer) 0 0;
        width: 50%;
        float: left;
        aspect-ratio: 1.25;
    
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    
        & figcaption {
          display: none;
        }
      }
      &.card-full-content-title {
        display: block;
        font-size: var(--wp--preset--font-size--x-large);
        margin-left: calc(50% + var(--wp--preset--spacing--outer));
        border-bottom: 1px solid;
        padding-bottom: .25em;
      }
      &.card-full-content-title + p {
        display: block;

        & strong {
          background-color: inherit;
          color: inherit;
          font-size: inherit;
        }
      }
      
  }
}


// When editing a single founder post (exclude the query loop)

@mixin label($name) {
  &::before {
    content: $name;
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
    display: inline-block;
    position: relative;
  }
}

body.post-type-founders {

  .founder-block {
    padding: 1em;
  }

  .founder-block > :not(.founder-coin, .founder-toggle, .founder-photograph, .card-title, .card-full-content-title, .wp-block-group__inner-container), 
  .founder-block > .wp-block-group__inner-container > :not(.founder-coin, .founder-toggle, .founder-photograph, .card-title, .card-full-content-title), 
  .founder-block,
  .founder-block > .wp-block-group__inner-container {
    display: block!important;
 
    & .is-layout-flex {
      display: flex!important;
    }
  }
 
  .card-full-content-link-title {
    font-size: var(--wp--preset--font-size--medium)!important;
    font-weight: 400!important;

    & + p, & + p ~ p {
      margin-top: 0.5em;
    }
  }
  .founder-block:hover {
    background-color: inherit !important;
    color: inherit !important;
    border-radius: 0 !important;
  }
  .founder-block:hover > .wp-block-group__inner-container {
    background-color: inherit;
    border-radius: 0;
  }
  .founder-block .founder-coin,
  .founder-block .founder-photograph {
    float: left;
    width: 50%;
    max-width: 300px;
    vertical-align: text-top;
  }
  .founder-block .founder-coin {
    margin-right: 20px;

    & > .components-resizable-box__container {
      @include label('Founder Logo');
    }
  }
  .founder-block .founder-photograph {
    margin-top: 0;
    @include label('Founder Photograph');

    & + * {
      clear: both;
    }
  }
  .founder-block .founder-coin img {
    filter: none!important;
  }
  .founder-block .card-title::before, .founder-block .card-full-content-title::before, .founder-block .founder-coin::before {
    content: none!important;
  }
}