@mixin mobile-only {
  @media (max-width: 640px) {
    @content;
  }
}
@mixin tablet-up {
  @media (min-width: 640.1px) {
    @content;
  }
}
@mixin with-fine-pointer {
  @media (pointer: fine) {
    @content;
  }
}

.peak-founders-query-loop-home {
  overflow-x: hidden;
  
  & .wp-block-post-template {
    display: flex;
    flex-wrap: nowrap;
    
    scroll-snap-type: x mandatory;
  }
  & .founders {
    margin: 0;
    flex: 0 0 75%;
    scroll-snap-align: start;
    padding-left: var(--wp--preset--spacing--outer);
    position: relative;
  }
  & .founders .wp-block-post-content .founder-block,
  & .founders .wp-block-post-content .founder-block .wp-block-group__inner-container {

    & > *:not(.wp-block-group__inner-container) {
      display: none;
    }    

    & > .founder-photograph {
      display: block;
      margin: 0 var(--wp--preset--spacing--outer) 0 0!important;
      width: 50%;
      float: left;
      aspect-ratio: 1.25;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      & figcaption {
        display: none;
      }
    }
    & > .card-full-content-title {
      display: block;
      font-size: var(--wp--preset--font-size--x-large);
      margin-left: calc(50% + var(--wp--preset--spacing--outer))!important;
      border-bottom: 1px solid;
      padding-bottom: .25em;
    }
    & > .card-full-content-title + p {
      display: block;
      
    }
  }
  & .wp-block-post-title {
    border-top: 1px solid;
    margin-left: calc(50% + var(--wp--preset--spacing--outer));
    padding-top: .5em;
    font-size: var(--wp--preset--font-size--x-large);
    
    
    &:before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34.414 34.645'%3E%3Cg fill='none' stroke='%23ff00ff' stroke-linecap='round' stroke-width='2' data-name='Group 575'%3E%3Cpath d='M1 18.528h31.559' data-name='Line 115'/%3E%3Cpath d='M17.122 1.413 33 18.626 17.122 33.232' data-name='Path 279'/%3E%3C/g%3E%3C/svg%3E");
      height: .85em;
      width: .85em;
      display: inline-block;
      margin-right: .25em;
      transition: all .25s ease-in-out;
    }
  }
  @include with-fine-pointer {
    & .founders:hover {
      & .wp-block-post-title:before {
        margin-right: .5em;
      }
    }
  }
  .home-founder-link {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .dots-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2em 0 0.5em 0;
    gap: .25em;
  }
  .dot {
    display: inline-block;
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background-color: #666;

    &.active,
    &:hover {
      background-color: #FFF;
      cursor: pointer;
    }
  }
}
@include mobile-only {
  .peak-founders-query-loop-home {
    & .founders {
      flex: 0 0 calc(100% - var(--wp--preset--spacing--outer) * 2);
    }
    & .founders .wp-block-post-content .founder-block,
    & .founders .wp-block-post-content .founder-block .wp-block-group__inner-container {
      & > .founder-photograph {
        margin: 0 !important;
        width: 100%;
        float: none;
      }
      & > .card-full-content-title {
        margin-left: 0!important;
      }
    }
    & .wp-block-post-title {
      margin-left: 0!important;
    }
  }
}